<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="EdFi" value="https://pkgs.dev.azure.com/ed-fi-alliance/Ed-Fi-Alliance-OSS/_packaging/EdFi/nuget/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="EdFi">
      <package pattern="EdFi.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
