apiVersion: v1
kind: Secret
metadata:
    name: app-secret
type: Opaque
data:
    postgres-admin-password: dG9wc2VjdXJl
    database-connection-string: aG9zdD1kbXNkYjtwb3J0PTU0MzI7dXNlcm5hbWU9cG9zdGdyZXM7cGFzc3dvcmQ9dG9wc2VjdXJlO2RhdGFiYXNlPWVkZmlfZGF0YW1hbmFnZW1lbnRzZXJ2aWNlOw==
