apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    serviceName: data-management-service
  name: data-management-service
spec:
  replicas: 1
  selector:
    matchLabels:
      serviceName: data-management-service
  strategy: {}
  template:
    metadata:
      labels:
        serviceName: data-management-service
    spec:
      containers:
        - name: data-management-service
          image: local/data-management-service:latest
          imagePullPolicy: Never
          env:
            - name: NEED_DATABASE_SETUP
              valueFrom:
                configMapKeyRef:
                  name: app-configmap
                  key: need-db-setup
            - name: DATABASE_CONNECTION_STRING
              valueFrom:
                secretKeyRef:
                  name: app-secret
                  key: database-connection-string
            - name: POSTGRES_ADMIN_USER
              valueFrom:
                configMapKeyRef:
                  name: app-configmap
                  key: postgres-admin-user
            - name: POSTGRES_ADMIN_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: app-secret
                  key: postgres-admin-password
            - name: POSTGRES_HOST
              valueFrom:
                configMapKeyRef:
                  name: app-configmap
                  key: postgres-host
            - name: POSTGRES_PORT
              valueFrom:
                configMapKeyRef:
                  name: app-configmap
                  key: postgres-port
            - name: LOG_LEVEL
              valueFrom:
                configMapKeyRef:
                  name: app-configmap
                  key: log-level
            - name: OAUTH_TOKEN_ENDPOINT
              valueFrom:
                configMapKeyRef:
                  name: app-configmap
                  key: oauth-token-endpoint
            - name: BYPASS_STRING_COERCION
              valueFrom:
                configMapKeyRef:
                  name: app-configmap
                  key: bypass-string-coercion
            - name: DATABASE_ISOLATION_LEVEL
              valueFrom:
                configMapKeyRef:
                  name: app-configmap
                  key: database-isolation-level
            - name: ALLOW_IDENTITY_UPDATE_OVERRIDES
              valueFrom:
                 configMapKeyRef:
                   name: app-configmap
                   key: allow-identity-update-overrides
            - name: FAILURE_RATIO
              valueFrom:
                configMapKeyRef:
                  name: app-configmap
                  key: failure-ratio
            - name: SAMPLING_DURATION_SECONDS
              valueFrom:
                configMapKeyRef:
                  name: app-configmap
                  key: sampling-duration-seconds
            - name: MINIMUM_THROUGHPUT
              valueFrom:
                configMapKeyRef:
                  name: app-configmap
                  key: minimum-throughput
            - name: BREAK_DURATION_SECONDS
              valueFrom:
                configMapKeyRef:
                  name: app-configmap
                  key: break-duration-seconds
            - name: CORRELATION_ID_HEADER
              valueFrom:
                configMapKeyRef:
                  name: app-configmap
                  key: correlation-id-header
          livenessProbe:
            exec:
              command:
                - curl -s http://localhost:8080 >/dev/null || exit 1
            failureThreshold: 50
            periodSeconds: 30
            timeoutSeconds: 10
          resources: {}
      hostname: data-management-service
      restartPolicy: Always
status: {}
